<div clas="shopping-cart">
<div class="box" routerLink="./{{panierItem?.product?.id}}">
    <i class="fas fa-trash"></i>
    <h5 >{{panierItem?.product?.title}}</h5>
    <img src="{{panierItem?.product?.thumbnail}}" class="card-img-top" width="200px" height="200px" >
    <p>{{panierItem?.product?.description}}</p>
    <div class="content">
        <span class="price">{{panierItem?.product?.price}}Dhs</span>
<span class="quantity">{{panierItem?.qte}}</span>
    
    </div>
    <button    type="button" (click)="retirer()">Move from Cart </button>
    <!--<button  [ngStyle]="{'background-color': product?.disponibilite === true ? 'Green' : 'Red'}"  type="button" (click)="onSelect()">Add to cart </button>-->
    <a routerLink="/Login" class="btn">checkout</a>
</div>   
</div>

     