<div class="container px-4 px-lg-5">

  <div class="row mt3">
    <div class="col-11">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Rechercher un produit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #keywordInput>
          <button class="btn btn-outline-success" type="submit" (click)="getProductFromKeywordSearch(keywordInput.value)">Search</button>
        </form>
      </nav>
    </div>
  </div>

  <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">
    <div class="col mb-5" *ngFor="let product of products">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>

<app-footer></app-footer>
