<footer class="text-center text-lg-start bg-light text-muted pt-3" style="padding-bottom: 100px">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
          <!-- Content -->
          <h2 class="text-uppercase fw-bold mb-4">
            SmartApp<i class="fas fa-shopping-basket"></i>
          </h2>
          <p>Notre siteWeb propose une variété de produits !Beneficiez-en</p>
        </div>
        <div class="col-md-12 col-lg-6 col-xl-6 mx-auto mb-4">
          <div class="box">
            <h2>Newsletter</h2>
            <p>subscribe for latest updates</p>
            <form class="d-flex justify-content-end">
              <input type="email" placeholder="your email" class="email form-control w-100">
              <input type="submit" value="subscribe" class="btn btn-outline-dark">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
